<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Say HeLLO</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
	</head>
	<body>
			<img src="https://i.guim.co.uk/img/media/86302dbcc55f07d65c45bb3baf8c864e36bd4320/0_155_3600_2159/master/3600.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=df936fc2e7b2b84a58f2e293ecde27de">
			<br>
			<form action="greet" method="post">
				{% for message in get_flashed_messages()%}
					<p> {{message}} </p>
				{% endfor %}
				<br>
				<input type="text" name="name_input">
				<br>
				<input type="submit" value="GREET" id="greet">
			</form>
	</body>
</html>
